{% extends "demo/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <header><h1>Add new hotel in {{city}}</h1></header>
    <p>Please note that the hotel code must be be {{city.cityCode}} followed by integers eg {{city.cityCode}}01</p>
    <p>The hotel code is not case sensitive and will auto capitalise it</p>
    
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Add</button>
    </form>
    {% if invalid %}
        <br>
        <p>Invalid hotel code</p>
    {% elif exist %}
        <br>
        <p>Hotel code already exists, must be unique</p>
    {% endif %}
    
{% endblock %}