{% extends 'demo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <header><h1>Edit</h1></header>


    {% if noCity %}

        <p>The city that you selected has been deleted. Please select a new city to manage</p>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    {% else %}

        {% if deleted %}
            <p>Hotel deleted successfully</p>
        {% elif added %}
            <p>Hotel added successfully</p>
        {% elif updated %}
            <p>Hotel updated successfully</p>
        {% endif %}
        
        {% for hotel in hotels %}
            <div class="edit-list">
                <li class="no-style">{{hotel.hotelCode}} : {{hotel.hotelName}}</li>
                <a href="/{{hotel.hotelCode.lower}}">Update</a>
                <br>
                <br>
            </div>
        {% endfor %}
        
    {% endif %}

{% endblock %}