{% extends 'demo/base.html' %}

{% block content %}
    <div class="home-wrap">
        {% if empty %}
            <h2>No data has been imported</h2>
        {% else %}
        <!--The city pages are actually just the home page. If no city has been selected then
        the regular home page is displayed. Otherwise all the hotels are displayed in the selected city-->
            {% if citySelected != None %}
                <header><h1>{{citySelected.cityName}}</h1></header>
                <main class="home">
                    {% if hotels|length == 0 %}
                        <h2>Sorry we could not find any hotels in {{citySelected.cityName}}</h2>
                    {% else %}
                        {% for hotel in hotels %}
                            <li class="no-style">{{hotel.hotelCode}} : {{hotel.hotelName}}</li>
                            <br>
                        {% endfor %}
                    {% endif %}
                </main>
            {% else %}
                <header><h1>Welcome to hotel finder</h1></header>
                <main id="home">
                    <p>A program written by Owen Freeman as a test project for Maykin Media</p>
                    <p>Management command written to import data of hotels and cities over authenticated HTTP</p>
                    <p>Users can select these cities and view the respective hotels</p>
                    <p>Users can register for a certain city to add, update and remove hotels from that city</p>
                </main>
            {% endif %}


            <div class="side-nav">
                <br><br>
                {% for city in cities %}
                    <br>
                    <a href="/home?{{city.cityName}}">{{city.cityName}}</a>   
                {% endfor %} 
            </div>

        {% endif %}
    </div>
{% endblock %}